{% load static %}
{% load client_lib_tags %}
{% load client_version %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet" />
        <title>{{ SITE_NAME }}</title>
        <link rel="shortcut icon" href="{% static 'geonode/img/favicon.ico' %}" />
        {% include './snippets/loader_style.html' %}

        {% block custom_theme %}
            {% include './snippets/custom_theme.html' %}
        {% endblock %}

        {% block extra_style %}
        {% endblock %}

    </head>
    <body class="msgapi ms2" data-ms2-container="ms2" >
        <div class="gn-page-wrapper {% if request.user_agent.is_mobile %}gn-mobile{% else %}gn-desktop{% endif %}">
            {% block gn_config %}
                {% include './_geonode_config.html' with plugins_config_key='map_embed' is_embed='true' %}

                {% block override_local_config %}
                <script>
                    window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
                        /* [chumano]
                        _ is a subset of lodash and contains following functions
                        {
                            mergeWith,
                            merge,
                            isArray,
                            isString,
                            isObject,
                            castArray,
                            get
                        }
                        */
                        var rs = _.mergeWith(localConfig, {
                            // ...my override config
                            plugins: {
                                "map_embed": [
                                        {
                                            "name": "Map",
                                            "cfg": {
                                                "shouldLoadFont": false,
                                                "tools": [],
                                                "mapOptions": {
                                                    "openlayers": {
                                                        "attribution": {
                                                            "container": "#footer-attribution-container"
                                                        },
                                                        "interactions": {
                                                            "pinchRotate": false,
                                                            "altShiftDragRotate": false
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "name": "Identify",
                                            "cfg": {
                                                "viewerOptions": {
                                                    "container": "{context.ReactSwipe}"
                                                }
                                            }
                                        },
                                        {
                                            "name": "Toolbar",
                                            "id": "NavigationBar",
                                            "cfg": {
                                                "id": "navigationBar",
                                                "layout": "horizontal"
                                            }
                                        },
                                        {
                                            "name": "MapLoading",
                                            "override": {
                                                "Toolbar": {
                                                    "alwaysVisible": true
                                                }
                                            }
                                        },
                                        {
                                            "name": "ZoomAll",
                                            "override": {
                                                "Toolbar": {
                                                    "alwaysVisible": false
                                                }
                                            }
                                        },
                                        {
                                            "name": "ZoomIn",
                                            "override": {
                                                "Toolbar": {
                                                    "alwaysVisible": true
                                                }
                                            }
                                        },
                                        {
                                            "name": "ZoomOut",
                                            "override": {
                                                "Toolbar": {
                                                    "alwaysVisible": true
                                                }
                                            }
                                        },
                                        {
                                            "name": "TOC",
                                            "cfg": {
                                                "activateQueryTool": false,
                                                "activateAddLayerButton": false,
                                                "activateMetedataTool": false,
                                                "activateSettingsTool": false,
                                                "activateRemoveLayer": false,
                                                "activateRemoveGroup": false,
                                                "activateFilterLayer": false,

                                                "activateSortLayer": false,
                                            }
                                        },
                                        {
                                            "name": "DrawerMenu",
                                            "cfg": {
                                                "menuOptions": {
                                                    "width": 350
                                                }
                                            }
                                        },
                                        // {
                                        //     "name": "Expander"
                                        // },
                                        // {
                                        //     "name": "MapFooter"
                                        // },
                                        // {
                                        //     "name": "Swipe"
                                        // },
                                    ],
                            }
                        }, function(objValue, srcValue, key) {
                            if (_.isArray(objValue)) {
                                return srcValue;
                            }
                            // supportedLocales is an object so it's merged with the default one
                            // so to remove the default languages we should take only the supportedLocales from override
                            if (key === 'supportedLocales') {
                                return srcValue;
                            }
                        });

                        return rs;
                    };
                </script>
                {% endblock %}

            {% endblock %}
            <div class="gn-embed gn-theme">
                {% block container %}
                    <div id="ms-container">
                        <div class="gn-main-event-container">
                            <div class="gn-main-event-content">
                                <div class="gn-main-loader"></div>
                                <div class="gn-main-event-text"></div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block ms_scripts %}
                    <script id="gn-script" src="{% static 'mapstore/dist/js/gn-map.js' %}?{% client_version %}"></script>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
